$week-days: sun 0, mon 1, tue 2, wed 3, thu 4, fri 5, sat 6;
$month-days: 28, 29, 30, 31;

@keyframes moveup {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}

$date-color: #eee;
$date-size: 100px;
$date-space: 1px;
$border: 1px solid black;

@mixin div-content {
  background-color: $date-color;
  width: $date-size;
  height: $date-size;
  border: $border;
  display: flex;
  box-sizing: border-box;
  margin-top: $date-space;
  margin-right: $date-space;
}

@mixin week($num) {
  margin-left: $date-size*$num + $date-space*$num;
}

body {
  margin: 0;
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::after {
    content: "#{$i}";
    font-size: 30px;
    font-family: Arial, sans-serif;
    align-self: center;
    margin: 0 auto;
  }
}

.calendar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: $date-size * 7 + $date-space * 7;
  justify-content: flex-start;
  box-sizing: border-box;

  div {
    @include div-content;
  }

  div:hover {
    cursor: pointer;
    background-color: pink;
    animation-name: moveup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

@each $day-of-month in $month-days {
  .calendar-#{$day-of-month} > :nth-child(#{$day-of-month}) ~ div {
    display: none;
  }
}

@each $day-of-week, $numb-of-days in $week-days {
  .calendar-#{$day-of-week} > :nth-child(1) {
    @include week($numb-of-days);
  }
}
